@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.hero{
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../public/assets/img/tickbit-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.event{
  background: url('../../public/assets/img/tickbit-event-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.special{
  background: url('../../public/assets/img/tickbit-special.png');
  background-size: cover;
  background-repeat: no-repeat;
}